body {background:#e8ecf1;font-family: "Arial";}


.tab{
border:3px solid #444444;
margin:auto;
}

.cont {
position:relative;
text-align:center;
background:#ffffff;
margin:auto;
}

.label{
text-align:center;
height:30px;
background:#444444;
color:#DE8D54;
}

.page{
border:solid;
}

.buttons{
width:1px;
background:#444444;
}

.logout{
/*position:absolute;
bottom: 1px;
right: 1px;
color:red;*/
text-align:right;
}

.error {
position:absolute;
top:0px;
text-align:center;
padding:10px;
width:500px;
border:1px solid black;
background:red;
left:0px;
right:0px;
margin:auto;
font-style:oblique;
font-weight:100;
}

/*login starts here*/
input[type=text], input[type=password], input[type=submit] {
background:#e8ecf1;
border: 1px solid black;}

input[type=text]:hover, input[type=password]:hover, input[type=submit]:hover {
border: 1px solid red;}

input[type=text]:focus, input[type=password]:focus, input[type=submit]:focus {
background:#ffffff;
border: 1px solid #00dd00;}

/*menu starts here*/
.menu{width:100px;border-right:solid;}
.menu a{text-decoration:none;}

.sidemenu{ width:100px;
border-left:solid;
font-size:12px;
}